<div>
	<mat-form-field appearance="fill">
	  <mat-label>Query</mat-label>
	  <input matInput type="text" [(ngModel)]="query" (keydown.enter)="getResults(query)">
	  <button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
	    <mat-icon>close</mat-icon>
	  </button>
	</mat-form-field>
	<br>
	<button mat-raised-button (click)="getResults(query)" color="primary" [disabled]="!query">Search</button>
</div>
<br>
<div *ngIf="searchResults">
	<div>
		<h3>
			Found 
			<b>{{searchResults.searchInformation.formattedTotalResults}}</b>
			results in 
			<b>{{searchResults.searchInformation.formattedSearchTime}}</b> 
			seconds.
		</h3>
	</div>

	<div>
		<mat-list>
			<mat-list-item *ngFor="let result of searchResults.items">
				<app-result-card [result]="result"></app-result-card>
			</mat-list-item>
		</mat-list>
	</div>

	<div>
		<button 
		  *ngIf="searchResults.queries.previousPage" 
		  mat-stroked-button
		  (click)="getResults(searchResults.queries.previousPage[0].searchTerms,searchResults.queries.previousPage[0].startIndex)">
			Previous
		</button>

		<button 
		  *ngIf="searchResults.queries.nextPage"
		  mat-stroked-button
		  (click)="getResults(searchResults.queries.nextPage[0].searchTerms,searchResults.queries.nextPage[0].startIndex)">
			Next
		</button>
	</div>
</div>
